
<header>
    <h1>Angular PokeTrainer</h1>
    
  
</header>
<div class="topnav">

    
    
    <div class="topnav-right">
        <a routerLink="/pokemons" routerLinkActive="active">Pokedex</a>
      <a routerLink="/pokemons/selected" routerLinkActive="active">My collection</a>
      <a href="#pokemons/selected" (click)="logout()">Log out</a>
    </div>


  
  </div>
