
<main>
    <app-header></app-header>
</main>
<div class="search-hero">
    <input type="text" class="form-control" placeholder="Start searching for pokemons by name or type" [(ngModel)]="pokemonName">
  </div>

<div class="pokemon-grid">
    <div class="box" 
    *ngFor="let pokemon of pokemons | filter:pokemonName | paginate: {itemsPerPage: 12, currentPage: page, totalItems: totalPokemons}">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon Image">
        
        <h1> {{ pokemon.name }}</h1>
        <p>
            <b>Type:</b> {{ pokemon.types[0].type.name}}
        </p>
        <p>
            <b>Health:</b> {{ pokemon.stats[0].base_stat }}
        </p>

        <p class="atcPower">
            <b>Attack Power:</b> {{ pokemon.stats[1].base_stat}}
        </p>

      <button class="inline" (click)="addPokemonToCollection(pokemon)">Add to collection</button>
    
    </div>
 
   </div>
<pagination-controls (pageChange)="page = $event; pokemons= []; getPokemons()"></pagination-controls>