.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}
.pokemon-grid .box {
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
  
}



.pokemon-grid .box .atcPower {
  padding-bottom: 9px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pokemon-grid .box img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

pagination-controls {
    text-align: center;
}

.search-hero {
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
 

  }


    


  .form-control::placeholder  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 
  
  button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 1px;
    background: #f1dd28e8;
    border: 2px solid black;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transition: 500ms;
    
  }
  
  button:after {
    content: '';
    position: absolute;
    transform: translateX(-45px) translateY(-30px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 1100ms;
  }
  
  button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  }
  
  button:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin{
    25%{transform: translateX(-15px) translateY(-25px);
        width: 15px;
        height: 15px;}
    50% {transform: translateX(-45px) translateY(-20px);
        width: 5px;
        height: 5px;}
    75% {transform: translateX(-75px) translateY(-25px);
        width: 15px;
        height: 15px;}
  }
  
  button:focus {
    outline: none;
  }