
<main>
    <app-header></app-header>
</main>
<h1 *ngIf="!checkLocalStorage()">You have no pokemons in your collection!</h1>
<div class="pokemon-grid">
    <div class="box" 
    *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon Image">
        <h1> {{ pokemon.name }}</h1>
        <p>
            <b>Type:</b> {{ pokemon.types[0].type.name}}
        </p>
        <p>
            <b>Health:</b> {{ pokemon.stats[0].base_stat }}
        </p>

        <p>
            <b>Attack Power:</b> {{ pokemon.stats[1].base_stat}}
        </p>

        
    </div>
</div>
