<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<div class="login">
  <div class="login-header">
    <h1>Angular PokeTrainer</h1>
    <br>
    <h2 *ngIf="!checkLocalStorage()">Enter a username to enter</h2>
    <h2 *ngIf="checkLocalStorage()">Username already entered click here to redirect to pokedex</h2>
  </div>
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" id="username" placeholder="Username" [(ngModel)]="value"/><br>
    <br>
    <input type="button" (click)="onUserButtonClicked()" value="Continue" class="login-button"/>
    <br>
  </div>
</div> 

